<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      
    <input id ="linkRandom" type="button" value="random selector">

    <select id="selectDog">
        <option>Apple</option>
        <option>Pear</option>
        <option>Banana</option>
        <option>Orange</option>
      </select>

    <input id ="summon" type="button" value="get random Dog">

    <div id="img">
    <img id = "randomDog" src="" alt="">
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        let changePage = document.getElementById("linkRandom")
        changePage.addEventListener("click", random)

        function random(){
            window.location.href = "/random";
        }

        let summon = document.getElementById("summon")
        summon.addEventListener("click",dog)
        
        let pictureDog = document.getElementById("randomDog")
        
        function dog(){
        $.getJSON('https://dog.ceo/api/breeds/image/random', function(data) {
        pictureDog.src=data.message
            });
        }
    </script>
</body>
</html>