<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
      
    <input id ="linkRandom" type="button" value="random selector">

    <select id="selectDog">
        
      </select>

    <input id ="summon" type="button" value="get random Dog">

    <div id="img">
    <img id = "randomRaceDog" src="" alt="">
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        let changePage = document.getElementById("linkRandom")
        changePage.addEventListener("click", random)

        function random(){
            window.location.href = "/random";
        }

        let summon = document.getElementById("summon")
        summon.addEventListener("click",testingRace)
        
        let pictureDog = document.getElementById("randomRaceDog")
        
        function dog(){
        $.getJSON('https://dog.ceo/api/breeds/image/random', function(data) {
        pictureDog.src=data.message
            });
        }
        var breeds
        function dogAllBreeds(){
        $.getJSON('https://dog.ceo/api/breeds/list/all', function(data) {
        objeto = data.message
        
            });
        }

      /*  function useRace(){
            $.getJSON('https://dog.ceo/api/breed/'+subRace+race+'/images/random'), function(data){
                imageRace = data
                return imageRace
            }
            //'+race+subRace+'
        }*/
        
        function objectExtraction(){
        races = []
        

            for (i=0; i<Object.keys(objeto).length; i++){
                
                if (Object.values(objeto)[i] == ""){
                    
                    races.push(Object.keys(objeto)[i])
                }
                
                else{
                    for (l=0; l<Object.values(objeto)[i].length; l++){

                        if (Object.values(objeto)[i][l].length == 1){
                        }

                        else{
                        races.push([Object.values(objeto)[i][l],Object.keys(objeto)[i]])
                        }
                    }
                    if (Object.values(objeto)[i][0].length == 1){
                        races.push([Object.values(objeto)[i],Object.keys(objeto)[i]])
                    }
                }
            }   return races
        }

    let selectDog = document.getElementById("selectDog")
        
        function selection(){
            for(i=0 ; i<races.length ; i++){
                if (races[i].length <3){
                    selectDog.innerHTML += "<option>"+races[i][0]+" "+races[i][1]+"</option>"
                }
            
                else{
                    selectDog.innerHTML += "<option>"+races[i]+"</option>"
                }
            }
        }

        function testingRace(){

            dataDogArray=selectDog.value.split(/(\s+)/)
                    if (dataDogArray.length == 1){
                        race = dataDogArray[0]
                        subRace = ""
                    }
                    else{
                        race = dataDogArray[0]
                        subRaceType = dataDogArray[2]
                        subRace = ("/"+subRaceType)
                    }

                $.getJSON('https://dog.ceo/api/breed'+subRace+'/'+race+'/images/random', function(data){
                    pictureDog.src =data.message               
                });
        }
            
        

        

    window.setTimeout(function() {
    dogAllBreeds();
    
        window.setTimeout(function() {
        objectExtraction();
        
            window.setTimeout(function() {
            selection();
            }, 0);
        }, 500); 
    }, 0);

    </script>
</body>
</html>