
{% extends 'base/apiDogStyle.html'%}

    {% block functionality %}
        <div id="buttons">
            <input id ="linkRace" type="button" value="Race Selector">

            <input id ="summon" type="button" value="Get Random Dog">
        </div>

        <p class="text">IMAGE</p>
        <div id="img">
        <img id = "randomDog" src="" alt="">
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
        <script>

            let changePage = document.getElementById("linkRace")
            changePage.addEventListener("click", race)

            function race(){
                window.location.href = "/race";
            }

            let summon = document.getElementById("summon")
            summon.addEventListener("click",dog)
            
            let pictureDog = document.getElementById("randomDog")
            
            
            function dog(){
            $.getJSON('https://dog.ceo/api/breeds/image/random', function(data) {
            pictureDog.src=data.message
                });
            }
        </script>
    {% endblock %}


